* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*html, body {
  height: 100%;
  width: 100%;
  position: relative;
}*/
#rps {
  margin: auto;
  padding: 0.5rem;
  //position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
  background: #ddd;
}
#rps > div {
  position: relative;
  background: #000;
}
#rps > div.x img {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}
#rps > div.o img {
  margin: 10%;
  display: block;
  position: absolute;
  height: 80%;
  width: 80%;
}
